[data-aos="hero-bg"] {
  background: url('../img/hero-2.jpg');
  transition-property: background;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
  &.aos-animate {
    background: transparent;
  }
}

[data-aos="disappear"] {
  opacity: 1;
  transition-property: opacity;
  &.aos-animate {
    opacity: 0;
  }
}

[data-aos="title-move"] {
  // width: 90%;
  color: $white;
  transition-property: color;
  &.aos-animate {
    // width: 40%;
    color: $black;
  }
}

[data-aos="txt-white-to-black"] {
  color: $white;
  transition-property: color;
  &.aos-animate {
    color: $black;
  }
}