
#hero {
	// 
	color: $white;
	height: 92vh;
	position: relative;
	// max-height: 125vw;

	#hero-bg {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;

		background-image: url('../img/hero-2.jpg');
		background-size: cover;
		background-position-x: right;
	}

	.after & {
		// background: transparent;
		// color: $black;
	}

	.hero-container {
		@include center-text-vertically;
		// z-index: 999;
		position: relative;
	}

	#site-title {
		margin:20px 0 0;
		
		span {
			display: block;
		}
		.after & {
			padding-bottom: 1rem;
		}
	}

	#intro {
		// display: none;
		color: $black;

		.after & {
			display: block;
		}
	}

	@include breakpoint(medium) {

		#site-title {
			background-position: center;
			margin-top: 1px;
			padding-left: map-get($grid-column-gutter, small) / 2;
			padding-bottom: 0;

			float: right;
			width: 40%;
			// background-color: red;

			.after & {
				width: 40%;
			}
		}

		#intro {
			padding-right: map-get($grid-column-gutter, small) / 2;
			width: 60%;
			// float: left;

			// background-color:blue;
			.after & {
				float: left;
			}
		}
	}
	@include breakpoint(large) {
		#site-title {
			margin-top: 5px;
			padding-left: map-get($grid-column-gutter, medium);
			// width: 100%;
		}

		#intro {
			padding-right: map-get($grid-column-gutter, medium);
		}
	}
}

#portfolio {
	.section-title {

	}
	article {
		text-align: center;
		// margin-bottom: 1px;
		a {
			// background-color: map-get($foundation-palette, primary);
			display: block;
			position: relative;

			> .overlay {
				background-color: rgba(map-get($foundation-palette, primary), 0.8);
				// background: url('../img/hero-2.jpg');
				color: $white;
				display: block;
				// opacity: .5;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				@include transition-duration();
				&.color2 {
					background-color: rgba($purple-alt1, 0.8);
				}
				&.color3 {
					background-color: rgba($purple-alt2, 0.8);
				}
				&.color4 {
					background-color: rgba($purple-alt3, 0.8);
				}
			}

			.overlay-text {
				@include center-text-vertically;
				@include transition-duration;

				// display: none;
			}

			&:hover, &:focus {
				> .overlay {
					// background:transparent;
					background-color: rgba($light-purple, 0.2);
				}
				// .overlay-text {
				// 	@include center-text-vertically;
				// }
			}
		}
		img {
			// opacity: .5;
		}
		@include breakpoint(medium) {
			// padding-right: 1px;
			&:last-child {
				// padding-right: 0;
			}
		}
	}
}

#project-hero {
	// text-align: center;
	margin-bottom: 2rem;

	@include breakpoint(medium) {
		margin-bottom: 4rem;
	}
}

#project-goals {
	background-color: $purple;
	color: $white;
}