#hero {
	background-image: url('../img/hero-2.jpg');
	background-size: cover;
	background-position-x: right;
	color: $white;
	height: 90vh;
	// max-height: 125vw;

	.after & {
		// background: transparent;
		// color: $black;
	}

	.hero-container {
		@include center-text-vertically;
	}

	#site-title {
		margin:20px 0 0;
		span {
			display: block;
			// &.name-first {
			// 	font-family: $body-font-family;
			// 	text-transform: lowercase;
			// 	font-weight: 200;
			// 	padding-left: 3px;
			// }
			// &.name-last {
			// 	font-weight: bold;
			// 	font-size: 1.5em;
			// 	text-transform: uppercase;
			// 	line-height: .5em;
			// 	margin-bottom: .5em;
			// }
		}
	}

	#intro {
		display: none;
	}

	@include breakpoint(medium) {

		#site-title {
			background-position: center;
			margin-top: 5px;
			padding-left: map-get($grid-column-gutter, small) / 2;

			float: right;
			width: 90%;
			// background-color: red;

			.after & {
				// width: 40%
			}
		}

		#intro {
			padding-right: map-get($grid-column-gutter, small) / 2;
			width: 60%;
			// float: left;

			// background-color:blue;
			.after & {
				// float: left;
			}
		}
	}
	@include breakpoint(large) {
		#site-title {
			padding-left: map-get($grid-column-gutter, medium);
			width: 100%;
		}

		#intro {
			padding-right: map-get($grid-column-gutter, medium);
		}
	}
}

#portfolio {
	.section-title {

	}
	article {
		text-align: center;
		margin: 0 0 1px;
		a {
			// background-color: map-get($foundation-palette, primary);
			display: block;
			position: relative;

			> .overlay {
				background-color: rgba($light-purple, 0.8);
				color: $black;
				display: block;
				// opacity: .5;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}

			.overlay-text {
				@include center-text-vertically;

				// display: none;
			}

			&:hover, &:focus {
				> .overlay {
					background-color: rgba(map-get($foundation-palette, primary), 0.8);
				}
				// .overlay-text {
				// 	@include center-text-vertically;
				// }
			}
		}
		img {
			// opacity: .5;
		}
		@include breakpoint(medium) {
			margin: 0 0 1px;
			padding-right: 1px;
			&:last-child {
				padding-right: 0;
			}
		}
	}
}