@mixin responsive-padding($vpadding: 0) {
	padding: $vpadding map-get($grid-column-gutter, small);
	@include breakpoint(medium) {
		padding: $vpadding map-get($grid-column-gutter, medium);
	}
	@include breakpoint(large) {
		padding: $vpadding map-get($grid-column-gutter, large);
	}
}

@mixin center-text-vertically {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	overflow: auto;
}

@mixin text-like-header {
	font-family: $header-font-family;
}

@mixin transition-duration($duration:0.4s) {
	-webkit-transition-duration: $duration;
	-moz-transition-duration: $duration;
	-o-transition-duration: $duration;
	transition-duration: $duration;
}

@mixin hide-animated {
	opacity:0;
}